/* table的样式 */
tbody{
    border: #20355e 2px solid;

}
th{
  border-top: 1px solid;
}
td{
    text-align:left;
    vertical-align:top;

    border:1px solid;
}
.bora{
    width: 900px;
    height: 800px;
}
