.arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #20355e;
    border-right: 1px solid #20355e;
    transform: rotate(45deg);
}

.arrowreverse {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #20355e;
    border-right: 1px solid #20355e;
    margin-left: 6px;
    transform: rotate(225deg);
}

.yuan {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #787474;
    margin-right: 3px;
    margin-left: 2px;
    border-radius: 50%;
}
